.singleTextStudy {
    max-width: 850px;
    margin: auto;

    h1 {
        max-width: 550px;
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: solid 1px #f4f4f4;
        color: #242525;
        font-family: Stratos;
        font-size: 36px;
        font-weight: 500;
    }
}