$main: #02c0ad;
$darken: #194744;
$bgColor: #242525;

@mixin animation($duration) {
    transition: all $duration ease;
}

@mixin ratio($width, $height) {
    position: relative;
    background-size: cover;
    background-position: center center;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >.content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}